body, html {
	height: 100%;
	margin: 0;
	background-color: #202020;
	font-family: Arial, sans-serif;
	position: relative;
	overflow-x: hidden;
}

.main-header {
	padding: 20px 60px;
	font-size: 30px;
	color: #a8a8a8;
	justify-content: center;
	white-space: nowrap;
	width: max-content;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
}

.buttons {
	display: flex;
	justify-content: center;
	gap: 80px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 5;
}

.home-button {
	display: flex;
	justify-content: center;
	padding: 20px 60px;
	font-size: 24px;
	background-color: #454545;
	color: #a8a8a8;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
	transition: 0.3s;
}

.upload-file{
	transform: translateX(-40px);
}

.inbox{
	transform: translateX(+40px);
}

.home-button:hover, .inbox:hover{
	color: #454545;
	background-color: #FFFFFF;
}

.sidebar{
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 200;
	top: 0;
	right: 0;
	background-color: #202020;
	overflow-x: hidden;
	transition: 0.5s;
	color: #a8a8a8;;
	box-shadow: -5px 0 15px rgba(0, 0, 0, 0.5);
}

.sidebar-content{
	width: 500px;
	opacity: 0;
	box-sizing: border-box;
	transition: opacity 0.3s ease-in-out;
	position: absolute;
	right: 0;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
}

.sidebar.open .sidebar-content{
	opacity: 1;
}

.sidebar .closebtn{
	position: absolute;
	top: 10px;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
	color: #fff;
	text-decoration: none;
	transition: color 0.3s;
}

.sidebar .closebtn:hover{
	color: #a8a8a8;
}

.sidebar h3 .sidebar-footer{
	padding: 0 10px 0 32px;
}

.download-item{
	color: #1b1b1b;;
}

.file-info{
	font-size: 18px;
	color: #bdbdbd;
	flex-grow: 1;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.download-icon-link{
	text-decoration: none;
	font-size: 24px;
	color: #00BFFF;
	margin-left: 15px;
	padding: 0 5px;
	line-height: 1;
}

#mainOverlay{
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.7);
}

.download-item-empty {
	padding: 10px 10px 10px 32px;
	color: #a8a8a8;;
	font-style: italic;
}

.buttons.open{
	opacity: 0.5;
	transition: opacity 0.3, transform 0.5s;
}

.buttons.open .home-button{
	pointer-events: none;
	cursor: default;
}

.file-info{
	display: inline-flex;
	align-items: center;
	gap: 5px;
	/*margin-left: 20px;*/
}

.delete-icon-link{
	text-decoration: none;
	font-size: 24px;
	color: #00BFFF;
	margin-left: 15px;
	padding: 0 5px;
	line-height: 1;
}