body, html {
	height: 100%;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #202020;
	font-family: Arial, sans-serif;
	position: relative;
}

.login-btn {
	padding: 20px 60px;
	font-size: 24px;
	background-color: #454545;
	color: #a8a8a8;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
	transition: 0.3s;

	transform: translateX(-40px);
}

.signup-btn {
	padding: 20px 60px;
	font-size: 24px;
	background-color: #454545;
	color: #a8a8a8;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
	transition: 0.3s;

	transform: translateX(+40px);
}

.signup-btn:hover, .login-btn:hover {
	color: #454545;
	background-color: #FFFFFF;
}

.main-txt{
	padding: 20px 60px;
	font-size: 30px;
	color: #a8a8a8;
	justify-content: center;
	white-space: nowrap;   /* prevent word wrap */
	width: max-content;
	position: absolute;
	top: 30%;                /* adjust up/down */
	left: 50%;
	transform: translate(-50%, -50%); /* center horizontally, nudge vertically */
	z-index: 10;
}