body, html {
	height: 100%;
	margin: 0;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background-color: #202020;
	font-family: Arial, sans-serif;
	position: relative;
}

.title-container{
	position: relative;
	width: 100%;
	text-align: center;
	top: -50px;
}

.title{
	position: relative;
	padding: 20px 60px;
	font-size: 30px;
	color: #a8a8a8;
	justify-content: center;
	white-space: nowrap;
	width: max-content;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
}


.submit-btn, .upload-btn {
	position: relative;
	padding: 20px 60px;
	font-size: 24px;
	background-color: #454545;
	color: #a8a8a8;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
	transition: 0.3s;
	margin: 40px;
}

.submit-btn:hover, .upload-btn:hover{
	color: #454545;
	background-color: #FFFFFF;
}

.bottom-container{
	position: relative;
	top: 0%;
	text-align: center;
}

.bottom-title{
	position: relative;
	padding: 20px 60px;
	font-size: 30px;
	color: #a8a8a8;
	white-space: nowrap;
	width: max-content;
	z-index: 10;
	margin-top: 40px;
	margin-bottom: 10px;
	margin-left: 40px;
	margin-right: 40px;
}

.message{
	display: inline-block;
	font-size: 20px;
	padding: 20px 60px;
	color:#a8a8a8;
	white-space: nowrap;
}