body, html {
	height: 100%;
	margin: 0;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background-color: #202020;
	font-family: Arial, sans-serif;
	position: relative;
}

.title-container{
	position: relative;
	width: 100%;
	text-align: center;
	top: -40px;
	left: -25px;
}

.title{
	position: relative;
	padding: 20px 60px;
	font-size: 30px;
	color: #a8a8a8;
	justify-content: center;
	white-space: nowrap;
	width: max-content;
	left: 52%; /*%52 is better than %50. i have no idea why tbh*/
	transform: translate(-50%, -50%);
	z-index: 10;
	top: 100px;
}


.submit-btn, .upload-btn, .upload-txt{
	position: relative;
	padding: 20px 60px;
	font-size: 24px;
	background-color: #454545;
	color: #a8a8a8;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
	transition: 0.3s;
	margin: 40px;
	top: 50px;
}

.upload-txt::placeholder{
	text-align: center;
}

.submit-btn:hover, .upload-btn:hover{
	color: #454545;
	background-color: #FFFFFF;
}

.bottom-container{
	position: relative;
	width: 800px;
	height: 400px;
}

.bottom-title {
	display: block;
	gap: 8px;
	align-items: center;
	position: absolute;
	white-space: normal;
	top: -30px;
	left: 34%;
	color: #a8a8a8;
	font-size: 24px;
}

.upload-txt2 {
	position: absolute;
	top: 70px;
	left: 49%;
	transform: translateX(-50%);
	color: #a8a8a8;
	font-size: 24px;
}


.message{
	position: absolute;
	display: inline-block;
	font-size: 20px;
	padding: 20px 60px;
	left: 190px;
	top: 140px;
	color:#a8a8a8;
	white-space: nowrap;
}

.error-msg{
	color: rgba(180, 0, 0, 1);
	font-size: 20px;
	margin-left: 50px;
}

#uploaded-file {
	display: block;
	min-width: 0;
	max-width: 300px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: middle;
	direction: ltr;
}
