<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='signup.css') }}">
		<title>AirShare | Sign Up</title>
	</head>
	<body>
		<div class="input-group">
			<form method="POST" action="{{url_for('signup')}}">
				<input class="signup txt logintxt" type="text" name="username" placeholder="Username">
				<input class="signup txt password txt" type="text" name="password" placeholder="Password">
				{% if error %}
					<p class="error-msg">{{ error }}</p>
				{% endif %}
				</div>
				<button class="submit-btn" type="submit">Sign Up</button>
			</form>
	</body>
</html>