<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>AirShare | Upload</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='upload.css') }}">
	</head>
	<body>
		<div class="title-container">
			<h2 class="title">Upload Your File</h2>
			<form action="/upload" method="post" enctype="multipart/form-data" class="forms">
				<input type="file" name="file" class="file" required hidden>
				<label for="file" class="upload-btn">Choose File</label>
				<button type="submit" class="submit-btn">Submit</button>
			</form>
		</div>

		<div class="bottom-container">
			<h3 class="bottom-title">Your Uploaded Files:</h3>
			<div class="file-list">
				{% for f in files %}
				<div class="file-item">
					📄 {{ f }}
				</div>
				{% endfor %}
			</div>
			{% with messages = get_flashed_messages() %}
				{% if messages %}
				<ul>
				{% for message in messages %}
					<li class="message">{{ message }}</li>
				{% endfor %}
				</ul>
				{% else %}
					<p class="message">You have not uploaded any files yet!</p>
				{% endif %}
			{% endwith %}
		</div>
	</body>
</html>
